@page "/"
@model PortForwardingSampleWebApp.Pages.PetsModel
@{
    ViewData["Title"] = "Pets";
}

<form method="post">
<div>
    <ul>
            <li><img src="~/cat.png" width="300" height="300" />cat <span class="PetsCounter">@Model.Counter.cat</span> <button asp-page-handler="cat">+1</button></li>
            <li><img src="~/dog.png"width="300" height="300" />dog <span class="PetsCounter">@Model.Counter.dog</span> <button asp-page-handler="dog">+1</button></li>
            <li><img src="~/capybara.png" width="300" height="300"/>capybara <span class="PetsCounter">@Model.Counter.capybara</span> <button asp-page-handler="capybara">+1</button></li>
    </ul>
</div>
</form>